
@{
    ViewBag.Title = "DetalhesBug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Bug</h2>
<div class="row">
    <div class="col-md-4">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id da task</th>
                    <th>Nome da Task</th>
                    <th>Tipode De Bug</th>
                    <th>Notas de trabalho</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Id da task</td>
                    <td>Nome da Task</td>
                    <td>tipo de bug</td>
                    <td>TextBox</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
