@model IEnumerable<TaskMaster.Models.Projetos>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><b>Task Master</b></h1>
    <p class="lead">
        Espaço para Controle de Projetos de Desenvolvimento de Software.<br />
        Cadastre seus Projetos, as Tarefas (Tasks) de Teste relacionadas ao seu Projeto e reporte os Bugs encontrados.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bugs Abertos</h2>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Projetos</th>
                    <th>Data Estimada de Término</th>
                    <th>Data Real de Término</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var projetos in Model)
                {
                    <tr>
                        <td>@projetos.NomeProjeto</td>
                        <td>@projetos.DataEstimada</td>
                        <td>@projetos.DataReal</td>
                    </tr>
                }
            </tbody>
        </table>
        <p><a class="btn btn-default">Ver Detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bugs Em Tratamento</h2>
        <p>tabela tera nome do projeto, bug e dev</p>
        <p><a class="btn btn-default">Ver Detalhes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bugs Corrigidos</h2>
        <p>tabela tera nome do projeto, bug e dev</p>
        <p><a class="btn btn-default">Ver Detalhes &raquo;</a></p>
    </div>
</div>